<a href="https://colab.research.google.com/github/aquamarina1977/fitness_landscape_bot/blob/main/PaymentDelay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Этот проект предсказывает вероятность, с какой выплаты по кредиту, взятому в банке в Канаде, не будут производиться вовремя. Для этого предсказания использован датасет с данными 2005 года одного из канадских банков. Датасет взят с сайта Kaggle: https://www.kaggle.com/datasets/uciml/default-of-credit-card-clients-dataset В проекте приводятся предсказания, созданные благодаря шаблону метода опорных векторов с одной стороны, и шаблону RandomForestClassifier, который, как принято считать, даёт более точные прогнозы, с другой стороны. Вероятность того, что данный кредит не будет погашен вовремя, полагается находящейся в диапазоне между предсказаниями этих двух моделей.

In [ ]:
#Импортируем библиотеки pandas и numpy
import pandas as pd
import numpy as np

In [ ]:
#Считываем данные
data = pd.read_csv('/content/default of credit card clients.csv', names=['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month'], skiprows=[0, 1])

In [ ]:
#Избавляемся от ненужных колонок, приводим датасет к нужному нам виду
data.drop(['BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6'], axis=1, inplace=True)

In [ ]:
data['MONEY_RET'] = data[['PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']].sum(axis=1)

In [ ]:
data.drop(columns=['PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'], inplace=True)

In [ ]:
data.drop(columns=['default payment next month', 'MONEY_RET'], inplace=True)

In [ ]:
data['PAY_IN_TIME'] = data[['PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']].sum(axis=1)
data.drop(columns=['PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6'], inplace=True)

In [ ]:
for i, row in data.iterrows():
    for element in row:
        if element == 'nan':
            element = 0

In [ ]:
for i, row in data.iterrows():
  if row[1] > 100000:
      row[1] = 1
  else:
      row[1] = 2

In [ ]:
for i, row in data.iterrows():
    if row[5] < 35:
        row[5] = 1
    elif row[5] < 50:
        row[5] = 2
    else:
        row[5] = 3

In [ ]:
for i, row in data.iterrows():
    if row[6] > 0:
        row[6] = 0
    else:
        row[6] = 1

In [ ]:
data

          ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_IN_TIME
0          1          2    2          2         1    1            1
1          2          1    2          2         2    1            0
2          3          2    2          2         2    1            1
3          4          2    2          2         1    2            1
4          5          2    1          2         1    3            1
...      ...        ...  ...        ...       ...  ...          ...
29995  29996          1    1          3         1    2            1
29996  29997          1    1          3         2    2            1
29997  29998          2    1          2         2    2            0
29998  29999          2    1          3         1    2            1
29999  30000          2    1          2         1    2            1

[30000 rows x 7 columns]

In [ ]:
#Определяем целевую колонку
columns_target = ['PAY_IN_TIME']

In [ ]:
#Определяем колонки, влияющие на целевую колонку
columns_train = ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE']

In [ ]:
#Создаём переменные, которые будут хранить данные, хранящиеся в этих колонках
X = data[columns_train]

In [ ]:
Y = data[columns_target]

In [ ]:
#Разбиваем выборку на четыре модуля, импортируя для этого соответствующий метод
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33,
random_state=42)

In [ ]:
#Импортируем шаблон метода опорных векторов и называем нашу модель predmodel
from sklearn import svm

In [ ]:
predmodel = svm.LinearSVC()

In [ ]:
predmodel.fit(X_train,Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC()

In [ ]:
predmodel.predict(X_test[0:30])

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
#Определяем вероятность, с которой выплаты по займу будут произвоидиться вовремя
predmodel.score(X_test,Y_test)

0.7614141414141414

In [ ]:
#Импортируем шаблон RandomForestClassifier и создаём соответствующую модель
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression(max_iter=1000)
rfc = RandomForestClassifier(max_depth=10, min_samples_leaf=10, min_samples_split=100)

In [ ]:
X = X_train.drop(columns='MARRIAGE')
y = X_train['MARRIAGE']
X.head()

       LIMIT_BAL  SEX  EDUCATION  AGE
16831          1    1          3    2
4222           2    1          1    2
8736           2    2          2    2
27880          1    2          3    1
29290          2    1          3    1

In [ ]:
#Определяем вероятность, с которой выплаты по кредиту будут производиться вовремя
lr.fit(X.drop(columns=['LIMIT_BAL', 'SEX', 'EDUCATION']), y)
cv_means = cross_val_score(lr, X.drop(columns=['LIMIT_BAL', 'SEX', 'EDUCATION']), y)
np.mean(cv_means)

0.7224378109452736

In [ ]:
#Выводим вероятности того, с которой выплаты по кредиту будут просрочены, определённые благодаря двум описанным выше моделям
print(f'Вероятность того, что выплаты по кредиту будут просрочены, составляет от {int((1 - predmodel.score(X_test,Y_test)) * 100)}% до {int((1 - np.mean(cv_means)) * 100)}%')

Вероятность того, что займ не будет погашен вовремя, составляет от 23% до 27%